In [61]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [29]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ribeira Grande,PT,2022-05-15 00:21:40,38.5167,-28.7000,59.94,68,31,27.85
1,1,Busselton,AU,2022-05-15 00:21:41,-33.6500,115.3333,58.73,67,100,4.76
2,2,Qaanaaq,GL,2022-05-15 00:21:42,77.4840,-69.3632,15.26,76,74,4.61
3,3,Hermanus,ZA,2022-05-15 00:21:42,-34.4187,19.2345,56.21,79,8,7.92
4,4,Kavaratti,IN,2022-05-15 00:21:43,10.5669,72.6420,80.89,82,100,21.56

In [30]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [31]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [32]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [33]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kavaratti,IN,2022-05-15 00:21:43,10.5669,72.6420,80.89,82,100,21.56
9,9,Kapaa,US,2022-05-15 00:21:45,22.0752,-159.3190,82.38,73,20,13.80
13,13,Takoradi,GH,2022-05-15 00:21:08,4.8845,-1.7554,79.93,84,100,6.67
15,15,Rikitea,PF,2022-05-15 00:21:48,-23.1203,-134.9692,76.53,72,20,21.30
19,19,Atuona,PF,2022-05-15 00:20:00,-9.8000,-139.0333,78.04,79,48,17.52
20,20,Mabaruma,GY,2022-05-15 00:21:52,8.2000,-59.7833,75.43,87,86,4.68
22,22,Neiafu,TO,2022-05-15 00:21:53,-18.6500,-173.9833,79.48,65,40,5.75
25,25,Sao Filipe,CV,2022-05-15 00:21:55,14.8961,-24.4956,75.79,69,100,7.72
26,26,San Andres,CO,2022-05-15 00:21:55,12.5847,-81.7006,80.62,89,75,6.91
28,28,Sao Miguel Do Araguaia,BR,2022-05-15 00:21:57,-13.2750,-50.1628,76.64,49,85,1.66

In [35]:
# Determine if there are any null values
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [25]:
# Find a hotel
preferred_cities_df

In [46]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                      City Country  Max Temp      Lat       Lng Hotel Name
4                Kavaratti      IN     80.89  10.5669   72.6420
9                    Kapaa      US     82.38  22.0752 -159.3190
13                Takoradi      GH     79.93   4.8845   -1.7554
15                 Rikitea      PF     76.53 -23.1203 -134.9692
19                  Atuona      PF     78.04  -9.8000 -139.0333
20                Mabaruma      GY     75.43   8.2000  -59.7833
22                  Neiafu      TO     79.48 -18.6500 -173.9833
25              Sao Filipe      CV     75.79  14.8961  -24.4956
26              San Andres      CO     80.62  12.5847  -81.7006
28  Sao Miguel Do Araguaia      BR     76.64 -13.2750  -50.1628

In [47]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [54]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

IndexError: list index out of range

In [55]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Kavaratti,IN,80.89,10.5669,72.6420,Hotels in Lakshadweep Islands
9,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,Takoradi,GH,79.93,4.8845,-1.7554,Raybow International Hotel
15,Rikitea,PF,76.53,-23.1203,-134.9692,People ThankYou
19,Atuona,PF,78.04,-9.8000,-139.0333,Villa Enata
20,Mabaruma,GY,75.43,8.2000,-59.7833,Monty Brooms Guest House
22,Neiafu,TO,79.48,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
25,Sao Filipe,CV,75.79,14.8961,-24.4956,Hotel Xaguate
26,San Andres,CO,80.62,12.5847,-81.7006,Hotel Arena Blanca
28,Sao Miguel Do Araguaia,BR,76.64,-13.2750,-50.1628,Hotel Executivo Palace

In [57]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [59]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [60]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))